.edit-board {
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 30px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .edit-board h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
  }
  
  .edit-board input {
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .choices-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
  }
  
  .tile {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    text-align: center;
  }
  
  .tile:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .tile img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .tile p {
    font-size: 1rem;
    color: #555;
  }
  
  button {
    background-color: rgba(57, 57, 60, 0.87);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: rgba(32, 32, 33, 0.87);
  }
  
  .delete {
    background-color: red;
    margin-top: 10px;
  }
  
  .delete:hover {
    background-color: darkred;
  }
  