.user-alert {
    font-size: 1.5em;
    color: white;
    margin: 20px;
    padding: 20px;
}

.create-board {
    margin: 20px;
}

.log-in-alert {
    margin: 20px;
}

.homePagediv {
    margin: 20px;
}